.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 6em 0 ;
    justify-content: center;

}


.banner_imagem-direita {
    width: 85%;
    margin-left: auto;

}

.banner__imagem {
    width: 40%;

}

.banner__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.banner__texto {
    width: 40%;
    color: var(--cor-titulo-principal);
    font-family: var(--fonte-terciaria);
    font-weight: 800;
    font-size: 0.75em;

}


