.estilo__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.clube {
    background-color: var(--cor-principal);
    padding: 4em 1.9em;
}

.clube__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1em 0;

}

.clube__imagem {
    width: 50%;

}

.clube__titulo {
    color: var(--cor-titulo-principal);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.clube__texto {
    display: flex;
    text-align: center;
    font-size: 0.75em;
    color: var(--cor-subtitulo-principal);
    line-height: 1.5em;
   

}

.clube__botoes {
    margin: 2em;
}

.clube__btn {
    width: 50%;
    padding: 0.5em 4em;
    border-radius: 45px;
    background-color: var(--cor-secundaria);
    text-decoration: none;
    color: var(--cor-titulo-principal);
    font-weight: 300;
}

.clube__btn:hover {
    background-color: var(--cor-background);
}