.clube {
    background-color: var(--cor-principal);
    padding: 4em 1.9em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.clube__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1em 0;

}

.clube__imagem {
    width: 50%;
}

.clube__titulo {
    color: var(--cor-titulo-principal);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.clube__texto {
    display: flex;
    text-align: center;
    font-size: 0.75em;
    color: var(--cor-subtitulo-principal);
    line-height: 1.5em;


}

.clube__botoes {
    margin: 2em;
}

.clube__btn {
    width: 50%;
    padding: 0.5em 4em;
    border-radius: 45px;
    background-color: var(--cor-secundaria);
    text-decoration: none;
    color: var(--cor-titulo-principal);
    font-weight: 300;

}

.clube__btn:hover {
    background-color: var(--cor-background);
}

@media screen and (min-width: 1024px) {

    .clube {
        display: flex;
        flex-direction: row-reverse;
        padding: 4em 3em;

    }

    .clube__imagem {
        width: 30%;
        margin: 0 3em;
    }

    .clube__conteudo {
        display: flex;
        align-items: left;
        justify-content: center;
        text-align: left;
        padding: 4.5em 1em;

    }

    .clube__titulo {
        font-size: 2.25em;
    }

    .clube__texto {
        font-size: 1em;
        display: flex;
        text-align: left;
        width: 95%;
    }

    .clube__botoes {
        margin: 2em 0;
    }

    .clube__btn {
        font-size: 1.13em;
    }

}

@media screen and (min-width: 1728px) {
    .clube {
        padding: 8em;
        justify-content: center;
        

    }

    .clube__imagem {
        width: auto;
    }

    .clube__conteudo {
        width: 50%;
    }

    .clube__titulo {
        font-size: 3.25em;
    }

    .clube__texto {
        font-size: 1.5em;
        width: 70%;
        padding: 0;
    }

    .clube__btn {
        font-size: 1.5em;
    }
}