.desconto {
    padding: 4em 1em;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.desconto__imagem {
    width: 50%;
    margin: 3em 0;
}

.desconto__logo {
    margin-bottom: 1.5em;

}

.desconto__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em 0;
}

.desconto__titulo {
    font-size: 1.5em;
    font-weight: 600;
}

.titulo__destaque {
    color: var(--cor-secundaria);
    font-weight: 800;
}

.desconto__texto {
    color: var(--cor-menu);
    font-size: 0.75em;
    font-weight: 500;
    margin-bottom: 1.5em;
}

.desconto__botoes {
    width: 35%;
}

@media screen and (min-width: 1024px) {
    .desconto {
        display: flex;
        flex-direction: row-reverse;
        padding: 4em 3em;
    }

    .desconto__container {
        text-align: left;

    }

    .desconto__container-logo {
        text-align: center;

    }

    .desconto__imagem {
        margin-left: 0;
    }

    .desconto__conteudo {
        text-align: left;
        align-items: normal;
    }

    .desconto__titulo {
        font-size: 2.25em;
    }

    .desconto__texto {
        font-size: 1em;
    }

    .desconto__botoes {
        width: 30%;
    }

}

@media screen and (min-width: 1728px) {
    .desconto {
        justify-content: center;
        padding: 15em 8em;
        align-items: center;
    }

    .desconto__imagem {
        width: auto;
    }

    .desconto__container-logo {
        text-align: center;
        align-items: normal;
        width: 70%;
        margin-bottom: 5em;

    }

    .desconto__titulo {
        font-size: 3.25em;
        margin-bottom: 1em;
    }

    .desconto__texto {
        font-size: 1.5em;
        width: 70%;
    }

    .desconto__botoes {
        margin: 0 0.5em;
        cursor: pointer;
    }
}