.rodape {
    background-color: var(--cor-principal);
    padding: 2em 1.9em;

}



.rodape__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em 0;
}

.rodape__logo {
    margin-bottom: 1em;

}

hr {
    margin-bottom: 1em;
}



.lista-rodape__link {
    text-decoration: none;
    color: var(--cor-titulo-principal);
    font-size: 0.88em;
}

.lista-rodape__link:hover {
    color: var(--cor-secundaria);
}

@media screen and (min-width: 1024px) {

    .rodape {
        padding: 5em 1.9em;

    }

    .rodape__container {
        flex-direction: row;
        justify-content: center;
    }

    .lista-rodape__link {
        margin: 0 2em;
    }
}