.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--cor-quaternaria);
    position: relative;
    margin: 0.8em;
    padding: 1em;
    border-radius: 50px;
    backdrop-filter: blur(20px);
}
.container__imagem {
    width: 7%;
  }


.container {
    display: flex;
    align-items: center;
}


.opcoes {
    display: flex;
    align-items: center;
    padding: 0 1em;
}


.opcoes__link {
    color: var(--cor-menu);
    font-size: 0.75em;
    font-weight: 600;
    text-decoration: none;
    margin: 0 1em;

}

.opcoes__link:hover {
    color: var(--cor-secundaria);
}

.opcoes__link:active {
    color: var(--cor-active);
}

.opcoes__link-destaque {
    color: var(--cor-secundaria);
}

.opcoes__link-destaque:hover {
    color: var(--cor-menu);
}

.responsi {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho {
        padding: 1em 3em;
    }

    .container__imagem {
        width: 4%;
      }

    .opcoes {
        padding: 0em;
    }

    .opcoes__link {
        font-size: 1em;
        margin: 0 2em;
    }

    .responsi {
        display: block;
    }

}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 2em 3em;
        border-radius: 60px;
        margin: 2em 0.8em;
    }

    .opcoes__link {
        font-size: 1.75em;
    }

    .container__imagem {
        width: 100%;
    }

    .container__imagem {
      width: 3%;
    }
}