@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(/styles/reset.css);
@import url(/styles/header.css);
@import url(/styles/banner.css);
@import url(/styles/clube.css);
@import url(/styles/desconto.css);
@import url(/styles/footer.css);

:root {
    --cor-background: #FFCC39;
    --cor-principal: #351818;
    --cor-secundaria: #FF1515;
    --cor-terciaria: #000000;
    --cor-quaternaria: #ffffff;
    --cor-active: #9c2121;


    --fonte-principal: "Poppins", system-ui;
    --fonte-secundaria: "Montserrat", sans-serif;
    --fonte-terciaria: "Montserrat Alternates", sans-serif;

    --cor-titulo-principal: #FFE7E7;
    --cor-subtitulo-principal: #BCBCBC;
    --cor-menu: #6A2E03;


}

body {
    box-sizing: border-box;
    background-color: var(--cor-background);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1em;
}